.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebarContainer {
    // flex: 1;
    min-height: 100vh;
}

.contentContainer {
    // flex: 3;
    width: 100%;
    margin: 0px 20px;
}

.informationPageContainer {

}

.historyPageContainer {

}

.hidden {
    display: none;
}