@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmonia+Sans&display=swap');

.container {
    height: 450px;
    width: auto;
    background-color: aqua;
    font-family: 'Harmonia Sans', sans-serif;
    color: #000000;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer > * {
    margin-right: 200px;
}

.footer > :last-child {
    margin-right: 0;
}

.footer h2 {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    margin: 0px 0px 15px;
}

.about_us {
    display: flex;
    flex-direction: column;
}

.policy {
    display: flex;
    flex-direction: column;
}

.contact_us {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 4px 0px;
}

.contact_us i {
    font-size: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.my_company {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 100px;
}