.container {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 8px 20px;
    // border: solid 1px #333;
}

.itemImg {
    flex: 1;
}

.itemImg img {
    height: 100%;
    width: auto;
}

.itemInfo {
    flex: 2;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemName {

}

.purchaseTime {

}

.viewFeedback {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewFeedbackBtn {
    text-align: center;
    background-color: #b0b0b0a7;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 20px;
}

.giveFeedbackBtn {
    text-align: center;
    background-color: #b0b0b0a7;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 20px;
}

.viewFeedbackBtn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.giveFeedbackBtn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hidden {
    display: none;
}