.container {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 8px 20px;
    background-color: #eeeeee;
    // border: solid 1px #333;
}

.container:hover {
    cursor: pointer;
    animation: scaleUp 0.5s ease forwards;
}

.container:not(:hover) {
    cursor: pointer;
    animation: scaleDown 0.5s ease forwards;
}

.itemImg {
    flex: 1;
}

.itemImg img {
    height: 100%;
    width: auto;
}

.itemInfo {
    flex: 2;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemName {

}

.purchaseTime {

}

.viewFeedback {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewFeedbackBtn {
    text-align: center;
    background-color: #b0b0b0a7;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 8px;
}

.giveFeedbackBtn {
    text-align: center;
    background-color: #b0b0b0a7;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 8px;
}

.viewFeedbackBtn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.giveFeedbackBtn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hidden {
    display: none;
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.05);
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1.05);
    }
  
    100% {
      transform: scale(1.0);
    }
  }