@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmonia+Sans&display=swap');

.container {
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Harmonia Sans', sans-serif;
    text-align: center;

    .concept {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 20px;
            }
        }
    }
}
