#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 36px;
    padding: 12px;
    border: #b0b0b0 solid 1px;
    height: 100px;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    top: 0;
}

#headerContainer p {
    margin: 0;
}

.leftPart {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    margin-right: 16px;
    height: 100%;
    width: auto;
}

.logoContainer img {
    height: 100%;
    cursor: pointer;
}

.searchBarContainer {
    display: flex;
    flex-direction: row;
    border-radius: 36px;
    border: 2px solid #aaaaaa;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
}

.searchBarBordered {
    border: #000 2px solid;
}

.searchBar {
    border: none;
    // border: 1px solid #900000;
    font-size: 18px;
    outline: none;
}

.searchBar:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.searchBtn {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchBtn p {
    font-size: 18px;
}

.rightPart {
    margin-right: 24px;
    display: flex;
    flex-direction: row;
}

.accountContainer {
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    cursor: pointer;
    font-size: 40px;
}

.accountContainer p {
    font-size: 20px;
}

.cartContainer {
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    // cursor: pointer;
}

.cartContainer p {
    font-size: 20px;
}

.logOutContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logOutBtn {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    font-size: 20px;
}

.logOutLogo {
    font-size: 40px;
}

.logOutLabel {

}

.hidden {
    display: none;
}