.nameContainer {
    margin: 8px 20px;
    display: flex;
}

.nameContainer label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.nameInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.phoneContainer {
    margin: 8px 20px;
    display: flex;
}

.phoneContainer label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.phoneInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.emailContainer {
    margin: 8px 20px;
    display: flex;
}

.emailContainer label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.mailInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.addressContainer {
    margin: 8px 20px;
    display: flex;
}

.addressContainer label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.addressInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.changePasswordContainer {
    margin: 8px 20px;
    display: flex;
    flex-direction: column;
}

.oldPass {
    margin: 8px 0px;
    display: flex;
}

.oldPass label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.oldPassInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.newPass {
    margin: 8px 0px;
    display: flex;
}

.newPass label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.newPassInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.confirmPass {
    margin: 8px 0px;
    display: flex;
}

.confirmPass label {
    font-weight: bold;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.cfPassInp {
    width: 100%;
    border-radius: 8px;
    border: solid 3px;
}

.fieldErr p {
    color: red;
    margin: 0px 240px;
}

.nameErr {
    height: 30px;
}

.PhoneErr {
    height: 30px;
}

.emailErr {
    height: 30px;
}

.addressErr {
    height: 30px;
}

.oldPassErr {
    height: 30px;
}

.newPassErr {
    height: 30px;
}

.cfPassErr {
    height: 30px;
}

.errInp {
    border: red solid 3px;
}

.actBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.saveBtn {
    background-color: #00d820;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #333 solid 1px;
    border-radius: 12px;
    padding: 0px 20px;
    color: #000000;
}

.saveBtn:hover {
    cursor: pointer;
    background-color: #00ff1e;
    color: #fff;
    opacity: .8;
}

.saveBtn > div {
    margin: 8px;
}

.cancelBtn {
    background-color: #dd0000;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #333 solid 1px;
    border-radius: 12px;
    padding: 0px 20px;
    color: #000000;    
}

.cancelBtn:hover {
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    opacity: .8;
}

.cancelBtn > div {
    margin: 8px;
}


.disableErr {
    display: none;

}