.p-address, .p-cost {
    display: flex;
    margin: 10px 0;
}

.p-cost-value {
    margin-left: 20%;
}

.change-address {
    margin-left: 10%;
    color: blue;
    text-decoration: underline;
}

.pay {
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin-top: 120px;
}
.p-PayBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: grey;
    color: #fff;
}

.p-PayBtn > div {
    cursor: pointer;
    display: flex;
    margin-right: 3%;
    /* border: 1px black solid; */
    padding: 5px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.p-PayBtn button {
    text-align: center;
}

.p-PayBtn img {
    max-width: 30px;
    margin-right: 5px;
}
.cod-method {
    justify-content: center; /* Horizontally center the text */
    align-items: center;
}