.confirm-delete-window {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50rem;
    margin: 0 auto;
    position: fixed;
    background-color: whitesmoke;
    z-index: 2;
}

.button-confirm-window {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;    
}

#confirm-delete-product-button,
#cancel-delete-product-button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#confirm-delete-product-button {
    background-color: #4CAF50;
    color: white;
}

#confirm-delete-product-button:hover {
    background-color: #43A047;
}

#cancel-delete-product-button {
    background-color: #F44336;
    color: white;
}

#cancel-delete-product-button:hover {
    background-color: #EF5350;
}

.form-edit-product-container {
    width: 30rem;
    padding: 10px 20px;
    position: fixed;
    z-index: 102;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #E0E0E0;
    border: 2px solid beige;
    border-radius: 15px;
    max-height: 100vh;
    overflow-y: auto;
}

.error-message {
    color: red;
}

#error-for-name-hidden {
    visibility: hidden;
}

#error-for-url-hidden {
    visibility: hidden;
}

#error-for-quantity-hidden {
    visibility: hidden;
}

#error-for-cost-hidden {
    visibility: hidden;
}

#error-for-description-hidden {
    visibility: hidden;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

#submit-button {
    background-color: rgb(14, 116, 144);
    padding: 10px 50px;
    color: beige;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#cancel-button {
    background-color: #FF4500;
    padding: 10px 50px;
    color: beige;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #submit-button,
    #cancel-button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .confirm-delete-window {
        width: 400px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
