#product {
    margin: 10%;
    display: flex;
}

.image {
    max-width: 30%;
}

.infor {
    margin-left: 10%;
}

.name {
    font-size: 2.5rem;
}

.cost {
    color: red;
    font-size: 1.5rem;
}

.quantity {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

#quantityInput {
    margin-left: 5px
}