.container {
    display: flex;
    flex-direction: column;
}

.confirm-delete-window {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50rem;
    margin: 0 auto;
    position: fixed;
    background-color: whitesmoke;
    z-index: 2;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.alert-container {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    width: 100%;
}

.button-confirm-window {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;    
}

#confirm-delete-account-button,
#cancel-delete-account-button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#confirm-delete-account-button {
    background-color: #4CAF50;
    color: white;
}

#confirm-delete-account-button:hover {
    background-color: #43A047;
}

#cancel-delete-account-button {
    background-color: #F44336;
    color: white;
}

#cancel-delete-account-button:hover {
    background-color: #EF5350;
}

.add-new-account-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    z-index: 1;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    background-color: #808080;
    border-radius: 10px;
    // width: 78vw;
    height: fit-content;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.account-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    color: aliceblue;
}

.button-container {
    display: flex;
    align-items: center;
    margin-right: 2%;
    gap: 5%;
}

#modify-button {
    background-color: #0066FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#modify-button:hover {
    background-color: #0099FF;
}

#delete-button {
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#delete-button:hover {
    background-color: #CC0000;
}

.no-customer-case {
    text-align: center;
    font-size: 24px;
    margin-top: 1%;
}

.form-modify-container,
.form-add-new-container {
    width: 30rem;
    padding: 10px 20px;
    position: fixed;
    z-index: 102;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #E0E0E0;
    border: 2px solid beige;
    border-radius: 15px;
}

.error-message {
    color: red;
}

#error-for-name-hidden {
    visibility: hidden;
}

#error-for-password-hidden {
    visibility: hidden;
}

#error-for-phone-hidden {
    visibility: hidden;
}

#error-for-email-hidden {
    visibility: hidden;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

#submit-button {
    background-color: rgb(14, 116, 144);
    padding: 10px 50px;
    color: beige;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#cancel-button {
    background-color: #FF4500;
    padding: 10px 50px;
    color: beige;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        width: auto;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }

    .sub-container {
        flex-direction: column;
        width: 90vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    .form-modify-container,
    .form-add-new-container {
        width: 500px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    
    #confirm-delete-account-button,
    #cancel-delete-account-button {
        width: 100px;
        margin-bottom: 10px;
    }
    
    #submit-button,
    #cancel-button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .confirm-delete-window {
        width: 400px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
