.productContainer {
    display: flex;
    flex-direction: row;
    background-color: #bebebe;
    border-radius: 16px;
    margin-top: 8px;
    height: 250px;
    cursor: pointer;
}

.productContainer:hover {
    animation: scaleUp 0.5s ease forwards;
}

.productContainer:not(:hover) {
    animation: scaleDown 0.5s ease forwards;
}

.productImg {
    flex: 1;
    margin: 12px;
}

.productImg img {
    width: auto;
    height: 100%;
}

.productName {
    display: flex;
    flex: 2;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.productName p {
    align-items: center;
}

.productDemoDes {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productScore {
    display: flex;
    flex-direction: row;
}

.productReview {
    text-align: center;
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.05);
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1.05);
    }
  
    100% {
      transform: scale(1.0);
    }
  }